@media screen and (min-width: 768px)/* and (max-width: 1023px)*/ {
   .calculator {
        border: 3px solid rgb(179, 179, 179);
        border-radius: 1.125rem;
        width: 570px;
        height: 762px;
        padding: 30px;
    }
    .output {
        border: 3px solid #ccc;
        border-radius: 1.125rem;
        height: 120px;
        margin-bottom: 30px;
        margin-top: 30px;
        padding-right: 30px;
    }
    .result {
        font-size: 60px;
    }

    .buttons {
        grid-gap: 15px;
    }

    button{
        border-radius: 1.125rem;
        padding: 30px;
        font-size: 48px;
    }
}
/* 
@media screen and (min-width: 1024px) {
    .calculator {
        border: 4px solid rgb(179, 179, 179);
        border-radius: 1.5rem;
        width: 760px;
        height: 1016px;
        padding: 40px;
    }
    .output {
        border: 4px solid #ccc;
        border-radius: 1.5rem;
        height: 160px;
        margin-bottom: 40px;
        margin-top: 40px;
        padding-right: 40px;
    }
    .result {
        font-size: 120px;
    }

    .buttons {
        grid-gap: 20px;
    }

    button{
        border-radius: 1.5rem;
        padding: 40px;
        font-size: 64px;
    }
} */