@media screen and (min-width: 768px){
   .calculator {
        border: 3px solid rgb(179, 179, 179);
        border-radius: 1.125rem;
        width: 570px;
        height: 762px;
        padding: 30px;
    }
    .output {
        border: 3px solid #ccc;
        border-radius: 1.125rem;
        height: 120px;
        margin-bottom: 30px;
        margin-top: 30px;
        padding-right: 30px;
    }
    .result {
        font-size: 60px;
    }

    .buttons {
        grid-gap: 15px;
    }

    button{
        border-radius: 1.125rem;
        padding: 30px;
        font-size: 48px;
    }
}